{{#each this}}
  <a class='gallery-item__link' href='{{this.largeImageURL}}'>
    <div class='gallery-item'>
      <div>
        <img
          class='gallery-item__img'
          src='{{this.webformatURL}}'
          alt='{{this.tags}}'
          loading='lazy'
        />
      </div>
      <div class='gallery-item__info'>
        <p class='info-item'>
          <b>Likes</b><span>{{this.likes}}</span>
        </p>
        <p class='info-item'>
          <b>Views: </b><span>{{this.views}}</span>
        </p>
        <p class='info-item'>
          <b>Comments: </b><span>{{this.comments}}</span>
        </p>
        <p class='info-item'>
          <b>Downloads: </b><span>{{this.downloads}}</span>
        </p>
      </div>
    </div></a>
{{/each}}